body {
    margin: 0;
    background-color: rgb(173, 173, 173);
    width: 100%;
    height: 100vh;
    

}
.header {
    width: 100%;
    background-color: rgb(77, 77, 77);
    height: 20vh; 

}
.main-content {
    margin: 0 auto;
    background-color: white;
    width: 75%;
    height: 70vh;
}
.footer {
    margin: 0 auto;
    background-color: black;
    width: 75%;
    height: 10vh;
}