


.header {
    background-color: rgb(70, 70, 70);
    width: 100vw;
    height: 15vh;
}
.bottom-box {
    display: flex;
   
}
.side-box1 {
    background-color:  lightgray;
    width: 10vw;
    height: 80vh;
}
.middle-box {
    display: flex;
background-color:  white;
width: 80vw;
height: 80vh;
}
.black-box {
    background-color: black;
    width: 80vw;
    height: 10vh;
    align-self: flex-end;
}
.side-box2 {
 background-color: lightgray;
 width: 10vw;
 height: 80vh;
}
